<style>
	body {
		  background-color: #E3E4E8;
		  background-image: -webkit-linear-gradient(#E3E4E8, #787FA8);
		  padding: 50px;
		  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #FFFDF9;
	}

	.page-header h1 {
		padding: 0.2em;
		font-size: 3em;
	    text-align: center;
		color: #061254;
		padding-left: 1em;
		margin-left: 50px;
	}

	.list ul {
		line-spacing: 2;
	}

	.list li {
		list-style: none;
		font-size: 1.5em;
	}

	.dummy {
		text-decoration: none;
	}

	.dummy:visited {
		color: #FFFDF9;
	}
</style>

<h1>Invite a user to {{teamName}}</h1>

{{#unless error}}
	{{#if invited}}
		<h2>Invited user {{invited}} </h2>
	{{else}}
		<h2>Enter an email and we'll invite them!</h2>
	{{/if}}
{{else}}
	<div id='error'>
		<h2>Failed to invite user {{invited}} because: </h2>
		<p>{{error}}</p>
	</div>
{{/unless}}

<form method='post' enctype='application/x-www-form-urlencoded'>
	<input name='invited' id='postInvite' type='text'>
	<input type='submit' value='Send!'>
</form>